@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300%3B400%3B500%3B600%3B700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}
header {
    display: flex;
    justify-content: space-around;
    height: 13vh;
    border-bottom: solid 1px rgb(163, 160, 160);
}
figure {
    display: flex;
    justify-content: space-evenly;
    width: 14vw;
}
h2 {
    font-size: 26px;
}
ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 20px;
    width: 25vw;
}
/*
media queries
@media --> ele é uma regra de estilo do CSS, que através dessa regra de estilo, conseguimos determinar um estilo
para diversos tipos de dispositivos (smart tvs, celulares, tablets, ipads, smartwatches...)

sintaxe (forma de escrita)

@media screen and (max-width:500px){
            max-width --> aplique esse estilo
            em uma tela com largura menor que 500px
}

@media screen and (min-width:1300px){
       min-width --> aplique esse estilo em
       uma tela com largura maior que 1300px
}


*/
@media screen and (max-width:500px){
    body {
        background-color: tomato;
    }
}

